* {
    padding: 0px;
    margin: 0px;
}

header {
    text-align: center;
    margin-top: 20px;
}

.container {
    width: 1200px;
    margin: 0px auto;
}

/* Input */
nav {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

input {
    border: red 2px solid;
    padding: 7px;
    width: 125px;
}

button {
    border: red 2px solid;
    background-color: red;
    color: white;
    padding: 7px;
    width: 125px;
}

button:hover {
    background-color: green;
}

button:active {
    background-color: black;
}

/* Error And Card */

article {
    color: red;
    text-align: center;
    margin-top: 15px;
    font-size: 25px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: none;
}

/* Card */

section {
    margin-top: 15px;
}

.card {
    background-color: rgb(211, 138, 138);
    color: rgb(94, 93, 93);
    margin-top: 5px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 25px;
    font-weight: bolder;
}

.name>span {
    font-size: 15px;
    font-weight: lighter;
}

.country {
    display: flex;
    align-items: center;
}

.point {
    display: flex;
    align-items: center;
}

.push {
    display: flex;
    align-items: center;
}

.push>span {
    background-color: white;
    margin-left: 5px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete:hover {
    background-color: yellow;
}

.delete:active {
    background-color: red;
}

.plus:hover {
    background-color: green;
    color: white;
}

.plus:active {
    background-color: white;
    color: green;
}

.minus:hover {
    background-color: red;
    color: white;
}

.minus:active {
    background-color: white;
    color: red;
}